@*
@using VP2.businesslogic;
@using umbraco.cms.businesslogic.macro;
@using umbraco.MacroEngines;
@{
    int numItems = 10;
    var searchTerm = Request.QueryString["q"].Replace("\"", "");
    if (!string.IsNullOrEmpty(searchTerm))
    {
        ArticleList sresults = ArticleList.ListFromSearch(searchTerm, numItems, 0);
        <p>You searched for @searchTerm.  Found @sresults.TotalResults results</p>
        <div id="inner-search-results" data-searchterm="@searchTerm">
        @foreach (SimpleArticle article in sresults.Articles)
        {
            <article class="item article-preview" data-articleid="@article.Id">
                <img src="@article.Image"/>
                <div class="text">
                    <header><a href="@article.Url">@article.Headline</a></header>
                    <p>@article.Teaser</p>
                </div>
                <div class="clearfix"></div>
            </article>
        }
        </div>
    }
}
*@
<div id="inner-search-results-google">
  
  <gcse:searchbox-only resultsUrl="/search" enableAutoComplete="true"></gcse:searchbox-only>

  <gcse:searchresults-only linkTarget="_self"></gcse:searchresults-only>
</div>