@using VUI.classes;
@using VUI.VUI3.classes;
@using umbraco.cms.businesslogic.member;
@using System.Web;
@helper StatsBar()
{
// int numVodServices = VUI3Utility.AllServicesSimple().ServiceMasters.Count;
int numVodServices = VUI3Utility.NumberOfVUIProducts();
int numScreenshots = VUI3Utility.NumScreenshots();

//VUI3BenchmarkMatrix bmatrix = new VUI3BenchmarkMatrix();
//int numBenchmarks = bmatrix.GetScores("About", "Overall").Max;
int numBenchmarks = VUI3Utility.NumberOfVUIBenchmarks();

    <ul>
        <li>
            <div>
                <span class="icon-play-circle"></span>
                <div class="title">
                    @numVodServices VOD Products
                </div>
                <div class="text">
                    tracked for you across 16 platforms
                </div>
            </div>
        </li>
        <li>
            <a href="/vui3/screenshots/">
                <div>
                    <span class="icon-camera"></span>
                    <div class="title">
                        @String.Format("{0:#,##}", numScreenshots) screenshots
                    </div>
                    <div class="text">
                        from @numVodServices services, across 16 platforms
                    </div>
                </div>
            </a>
        </li>
        <li>
            <div>
                <span class="icon-bar-chart"></span>
                <div class="title">
                    @numBenchmarks Benchmarks
                </div>
                <div class="text">
                    against 45 common functions
                </div>
            </div>
        </li>
        <li>
            <a href="/vui3/appstore-ratings/">
                <div>
                    <span class="icon-star-empty"></span>
                    <div class="title">
                        3m+ App Store Ratings
                    </div>
                    <div class="text">
                        from Apple and Google Play, updated daily
                    </div>
                </div>
            </a>
        </li>
    </ul>
}
@{
    VUIUser u = VUI3Utility.GetUser();
    Member c = u.Member;


    @* NOT LOGGED IN STATE *@
if (u.UserStatus.Equals(VUIfunctions.VUI_USERTYPE_NONE))
{

    <div class="gridContainer clearfix marketing-home">
        <div id="mainwrapper">
            <div id="contentwrapper">
                <div id="intro">
                    <div class="pixel950">
                        <div class="weird"><img src="/_inc/images/logo.png" class="wheel-icon" /></div>
                        <h2>VUI Library</h2>
                        <h3>Helping You to Create Brilliant Video Services</h3>
                    </div>
                </div>


                <div id="mainslider">
                    <div class="top060bot40"></div>
                    <div id="carousel" class="slider-big">
                        <ul class="bjqs">
                            <li>
                                <h2>Calling All VOD Product Developers</h2>
                                <div class="centertext">
                                    <p>
                                        Vodkr's VUIX Library is a unique research tool that helps you study and create beautiful video user
                                        interfaces across a range of platforms and devices.
                                    </p>
                                    <p>
                                        Whether you're looking for screenshots and video walkthroughs of VOD services, a list of innovative
                                        features to include in your next online television service or access to millions of user comments
                                        about existing on-demand products, the VUIX Library is here to help.
                                    </p>
                                </div>
                                <img src="/_inc/images/vui-marketing-2014/slider-iphone-2017.png" alt="Use this resource to help you design your VOD service" />
                            </li>

                            <li>
                                <h2>Screenshots of VOD Services</h2>
                                <div class="centertext">
                                    <p>
                                        When you're creating a new video service it's only natural to check out what's already on the
                                        market. Get started with over 25,000 screenshots of VOD user interfaces from 500+ global products
                                        across a range of platforms.
                                    </p>
                                    <p>
                                        We're adding images all the time from tablets, smartphones, connected TVs, set-top boxes and
                                        games consoles too. Want us to look at a particular VOD service? We can monitor it for you.
                                    </p>
                                </div>
                                <img src="/_inc/images/vui-marketing-2014/slider-tvs-2015.png" alt="Thousands of screenshots" />
                            </li>

                            <li>
                                <h2>Video Walkthroughs &amp; VUIX Conference Presentations</h2>
                                <div class="centertext">
                                    <p>
                                        We've now started filming video walkthroughs of VOD user interfaces so that you can see features,
                                        functionality and UX in action. Our growing video section also contains curated guides to topics like
                                        search, motion and animation and content recommendation.
                                    </p>
                                    <p>
                                        Missed our annual VUIX conference dedicated to online video product strategy and development?
                                        No problem. When you subscribe, you'll be able to watch talks and get best practice insights from
                                        companies like Netflix, HBO, Sony, the BBC, ITV, Viaplay, NRK, TiVo and Brightcove from VUIX 2017
                                        and VUIX 2016.
                                    </p>
                                </div>
                                <img src="/_inc/images/vui-marketing-2014/slider-walkthru-2017.png" alt="Video walkthroughs and presentations" />
                            </li>

                            <li>
                                <h2>Service &amp; Platform Benchmarking</h2>
                                <div class="centertext">
                                    <p>
                                        We track the presence (or lack of presence) of 45 functions that commonly appear inside individual
                                        VOD apps and websites. Use this to benchmark your products against the best in class.
                                    </p>
                                    <p>
                                        And if you're writing a requirements brief or functional specification, we can tell you the UI / UX
                                        features that your peers in the industry think are most important to include in your new or upgraded
                                        online television service.
                                    </p>
                                </div>
                                <img src="/_inc/images/vui-marketing-2014/slider-ipad-2015.png" alt="Benchmarking" />
                            </li>

                            <li>
                                <h2>Over 3m App Store Ratings &amp; Comments</h2>
                                <div class="centertext">
                                    <p>
                                        By publishing ratings and reviews from the iTunes App Store and Google Play, we're marrying
                                        industry knowledge with actual consumer sentiment. See what end-users really think!
                                    </p>
                                    <p>
                                        Updated daily, our library of 3 million user comments (and counting) is perfect for tracking your own
                                        VOD service and those of your peers and competitors.
                                    </p>

                                </div>
                                <img src="/_inc/images/vui-marketing-2014/slider-stars-2015.png" alt="App Store Ratings" />
                            </li>

                            <li>
                                <h2>Consulting</h2>
                                <div class="centertext">
                                    <p>
                                        When you subscribe to the VUIX Library you can choose to include man days of our time to use
                                        toward bespoke research and analysis. We're VOD geeks here at Vodkr and we've worked on major
                                        projects for companies like Netflix, the BBC, Liberty Global and Sony.
                                    </p>
                                    <p>
                                        Some of our most recent jobs include writing a feasibility study for a European broadcaster about
                                        their potential move from an AVOD to SVOD business model; conducting focus groups and
                                        interviews for a global service-provider on voice control technology and helping a European operator
                                        to produce functional and technical specifications for their new suite of mobile VOD apps.
                                    </p>
                                </div>
                                <img src="/_inc/images/vui-marketing-2014/slider-analysis.png" alt="Analysis" />
                            </li>
                        </ul>
                    </div> <!-- End outer wrapper -->
                </div> <!-- mainslider -->


                <div id="stats-bar">
                    <div class="pixel950">
                        <h2>Today in the VUI Library</h2>
                    </div>
                    <div class="b-mktg-stats">
                        <div class="inner">
                            @StatsBar()
                        </div>
                    </div>
                </div>


                <div id="slider2">
                    <div id="carousel2">
                        <ul class="bjqs">
                            <li>
                                <div class="slideblock">
                                    <h2>Let us do the work for you!</h2>
                                    <p>
                                        With the VUIX Library we'll keep you up to date with new online video interface features,
                                        new functionality and brilliant new user experiences. We'll be your eyes and ears on VOD UI / UX design,
                                        development and best practice.
                                    </p>
                                    <p>
                                        All of our work is done by trained analysts; no screen-scraping was used in the making of this product!
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div> <!-- End outer wrapper -->
                </div>

                <div id="customers">
                    <div class="pixel950">
                        <h2>Some of our subscribers</h2>
                        <div class="clientwrap">
                            <div class="row">
                                <div class="clientborder">
                                    <div class="clientimg"><img src="/_inc/images/vui-marketing-2014/customers/bbc.png" alt="BBC" /></div>
                                </div>

                                <div class="clientborder">
                                    <div class="clientimg"><img src="/_inc/images/vui-marketing-2014/customers/logo-all4.png" alt="All 4" /></div>
                                </div>

                                <div class="clientborder">
                                    <div class="clientimg"><img src="/_inc/images/vui-marketing-2014/customers/libert-global.png" alt="Liberty Global" /></div>
                                </div>

                                <div class="clientborder">
                                    <div class="clientimg"><img src="/_inc/images/vui-marketing-2014/customers/logo-tivo.png" alt="TiVo" /></div>
                                </div>

                                <div class="clear">
                                </div>

                            </div>

                            <div class="row">
                                <div class="clientborder">
                                    <div class="clientimg"><img src="/_inc/images/vui-marketing-2014/customers/logo-hbo.png" alt="HBO" /></div>
                                </div>

                                <div class="clientborder">
                                    <div class="clientimg"><img src="/_inc/images/vui-marketing-2014/customers/logo-sony.png" alt="Sony" /></div>
                                </div>

                                <div class="clientborder">
                                    <div class="clientimg"><img src="/_inc/images/vui-marketing-2014/customers/abc.png" alt="ABC" /></div>
                                </div>

                                <div class="clientborder">
                                    <div class="clientimg"><img src="/_inc/images/vui-marketing-2014/customers/logo-bbcww.png" alt="BBC Worldwide" /></div>
                                </div>

                                <div class="clear">
                                </div>
                            </div>


                            <div class="row">
                                <div class="clientborder">
                                    <div class="clientimg"><img src="/_inc/images/vui-marketing-2014/customers/altibox.png" alt="Altibox" /></div>
                                </div>

                                <div class="clientborder">
                                    <div class="clientimg"><img src="/_inc/images/vui-marketing-2014/customers/uktv.png" alt="UKTV" /></div>
                                </div>

                                <div class="clientborder">
                                    <div class="clientimg"><img src="/_inc/images/vui-marketing-2014/customers/stofa.png" alt="Stofa" /></div>
                                </div>

                                <div class="clientborder">
                                    <div class="clientimg"><img src="/_inc/images/vui-marketing-2014/customers/logo-dr.png" alt="DR" /></div>
                                </div>

                                <div class="clear">
                                </div>
                            </div>

                            <div class="clear">
                            </div>
                        </div>
                    </div> <!-- pixel950 -->
                </div> <!-- customer -->

                <style type="text/css">
                    #contact-bar .pricing-container {
                        display: table;
                        width: 100%;
                    }

                        #contact-bar .pricing-container .pricing {
                            width: 33.3%;
                            padding: 27px 1%;
                            display: table-cell;
                            border: 10px solid #3dc5fd;
                            background-color: #fff;
                        }

                            #contact-bar .pricing-container .pricing .content {
                                padding: 20px 20px 0;
                                color: #000;
                            }

                                

                                #contact-bar .pricing-container .pricing .content h2 {
                                    font-weight: normal;
                                    font-size: 1.3em;
                                    margin: 0em 0;
                                }
                                #contact-bar .pricing-container .pricing .content h3 {
                                    font-weight: normal;
                                    font-size: 3em;
                                    line-height: 0.7em;
                                    margin: 0.5em 0;
                                }
                                #contact-bar .pricing-container .pricing .content ul {
                                    list-style-position: outside;
                                    text-align: left;
                                    margin-left: 1em;
                                }
                                #contact-bar .pricing-container .pricing .content li {
                                    margin-bottom: 0.5em;
                                    position: relative;
                                    display: inline-block;
                                }

                                    #contact-bar .pricing-container .pricing .content li span {
                                        left: -1.3em;
                                        position: absolute;
                                        color: #1fa6de;
                                        font-size: 1.2em;
                                    }
                                    #contact-bar .pricing-container .pricing .content h3 .currency {
                                        vertical-align: text-top;
                                        font-size: 0.4em;
                                        padding-top: 0.2em;
                                        display: inline-block;
                                        color: #1fa6de;
                                    }
                                    #contact-bar .pricing-container .pricing .content h3 .period {
                                        vertical-align: text-bottom;
                                        font-size: 0.3em;
                                        margin: 0 0.2em;
                                        color: #1fa6de;
                                    }

                                #contact-bar .pricing-container .pricing .content a {
                                    width: 80%;
                                    background-color: #fff;
                                    color: #1fa6de;
                                    border: 1px solid #0080b4;
                                    border-radius: 3px;
                                    margin: 2em auto;
                                    padding: 0.5em;
                                    cursor: pointer;
                                    display: inline-block;
                                }

                                    #contact-bar .pricing-container .pricing .content a:hover {
                                        background-color: #0080b4;
                                        color: white;
                                    }


                    #contact-bar p {
                        text-align: left;
                        color: #000;
                        font-size: 1em;
                        font-weight: normal;
                        margin: 1em 1%;
                    }
                        #contact-bar p a {
                            color: #000;
                            text-decoration: underline;
                        }


                </style>
                <section>
                    <div id="contact-bar">
                        <div class="pixel950">
                            <h2>Pricing</h2>
                            <div class="pricing-container">

                                <div class="pricing">
                                    <div class="content">
                                        <h2>PAY MONTHLY</h2>
                                        <h3><span class="currency">&pound;</span>1,850<span class="period">/ mo</span></h3>
                                        <ul>
                                            <li><span class="icon-ok"></span>Unlimited users</li>
                                            <li><span class="icon-ok"></span>Full access to the VUIX Library including screenshots, videos, benchmarks and VOD user reviews</li>
                                            <li><span class="icon-ok"></span>Recurring subscription</li>
                                            <li><span class="icon-ok"></span>Cancel anytime</li>
                                            <li><span class="icon-ok"></span>Easier than finding, hiring and briefing a researcher</li>
                                        </ul>
                                        <a href="mailto:sales@vodkr.com?subject=I'd%20like%20to%20subscribe%20to%20the%20VUIX%20Library!">SIGN UP</a>
                                    </div>
                                </div>

                                <div class="pricing">
                                    <div class="content">
                                        <h2>PAY ANNUALLY</h2>

                                        <h3>
                                            <span class="currency">&pound;</span>4,950<span class="period">/ yr</span>
                                        </h3>
                                        <ul>
                                            <li><span class="icon-ok"></span>Unlimited users</li>
                                            <li><span class="icon-ok"></span>Full access to the VUIX Library including screenshots, videos, benchmarks and VOD user reviews</li>
                                            <li><span class="icon-ok"></span>If you subscribe for three months, we'll automatically move you to an annual subscription and stop billing you!</li>
                                            <li><span class="icon-ok"></span>Easier than finding, hiring and briefing a researcher</li>
                                        </ul>
                                        <a href="mailto:sales@vodkr.com?subject=I'd%20like%20to%20subscribe%20to%20the%20VUIX%20Library!">SIGN UP</a>
                                    </div>
                                </div>

                                <div class="pricing">

                                    <div class="content">
                                        <h2>PAY ANNUALLY<br />+ VUIX 2018 ENTRY</h2>
                                        <h3>
                                            <span class="currency">&pound;</span>6,450<span class="period">/ yr</span>
                                        </h3>
                                        <ul>
                                            <li><span class="icon-ok"></span>All the benefits of an annual subscription</li>
                                            <li><span class="icon-ok"></span>Four tickets to our fifth annual VUIX conference in London dedicated to online video product strategy and development. 
                                                VUIX 2017 took place in October and we'll keep you posted with dates for next year!</li>
                                        </ul>
                                        <a href="mailto:sales@vodkr.com?subject=I'd%20like%20to%20subscribe%20to%20the%20VUIX%20Library!">SIGN UP</a>
                                    </div>
                                </div>
                            </div>

                            <p>
                                <strong>Looking for a subscription which includes man days of our time? </strong>
                                <a href="mailto:sales@vodkr.com?subject=I'd%20like%20to%20subscribe%20to%20the%20VUIX%20Library!">Drop us a line and tell us about your requirements</a>.
                            </p>
                            <p>
                                We're VOD geeks here at Vodkr and we've worked on major projects for companies like Netflix, the BBC, Liberty Global and Sony.
                                Some of our most recent jobs include writing a feasibility study for a European broadcaster about their potential move from 
                                an AVOD to SVOD business model; conducting focus groups and interviews for a global service-provider on voice control 
                                technology and helping a European operator to produce functional and technical specifications for their new suite of mobile VOD apps.
                            </p>

                            <div class="clear"></div>
                        </div>
                    </div> <!-- contact-bar -->
                </section>
            </div>
        </div>
    </div>
}

    @* LOGGED IN STATE *@
else
{

    string userFirstName = u.Member.getProperty("firstName").Value.ToString();

    string linkedin = u.Member.getProperty("linkedIn").Value.ToString();
    string jobtitle = u.Member.getProperty("jobTitle").Value.ToString();
    string userImage = u.Member.getProperty("vuiUserImage").Value.ToString();

    string userImageClass = "";
    if (String.IsNullOrEmpty(userImage))
    {
        userImageClass = "hidden";
    }


    <div id="main">
        <div class="main-top">
            <div class="inner">
                <div class="b-logged-news">
                    <h1>
                        @Model.loggedInTitleNews
                    </h1>
                    <ul>
                        @{
                            List<NewsItem> news = VUI3News.GetNews(6);
                            foreach (NewsItem n in news)
                            {
                                string iconclass = "";
                                if (n.NewsType.Equals(VUI3News.NEWSTYPE_SYSTEM))
                                {
                                    iconclass = "wrench";
                                }
                                if (n.NewsType.Equals(VUI3News.NEWSTYPE_VERSION))
                                {
                                    if (n.AppStore.Equals(VUI3News.NEWSSTORE_APPLE))
                                    {
                                        iconclass = "apple";
                                    }
                                    if (n.AppStore.Equals(VUI3News.NEWSSTORE_GOOGLE))
                                    {
                                        iconclass = "android";
                                    }
                                    if (n.AppStore.Equals(VUI3News.NEWSSTORE_WINDOWS))
                                    {
                                        iconclass = "windows";
                                    }
                                }
                                if (n.NewsType.Equals(VUI3News.NEWSTYPE_SCREENSHOT))
                                {
                                    iconclass = "camera";
                                }
                                if (n.NewsType.Equals(VUI3News.NEWSTYPE_BENCHMARK))
                                {
                                    iconclass = "bar-chart";
                                }
                                if (n.NewsType.Equals(VUI3News.NEWSTYPE_NEW))
                                {
                                    iconclass = "exclamation-sign";
                                }
                                <li>
                                    @if (!String.IsNullOrEmpty(@n.Url))
                                    {
                                        <a href="@n.Url" class="news">

                                            <span class="icon-@iconclass"></span>@n.Description
                                        </a>
                                    }
                                    else
                                    {
                                        <span class="icon-@iconclass"></span>@n.Description
                                    }
                                </li>
                            }
                        }
                    </ul>


                    <section class="slide-img">
                        <div class="b-iphone">
                            <div class="iphone-gallery">
                                @if (@Model.introImages.GetType() == typeof(umbraco.MacroEngines.DynamicXml))
                {
                    var iiIDs = @Model.introImages.GetEnumerator();
                                    <ul>
                                        @foreach (var imageID in @iiIDs)
                    {
                        dynamic iImage = @Model.MediaById(@imageID.InnerText);
                                            <li>
                                                <img src="@iImage.umbracoFile" />
                                            </li>
                                        }
                                    </ul>
                                }
                            </div>
                        </div>
                    </section>


                    @*
                                 **********************
                                     WELCOME BOX
                                 **********************
                                <div class="b-logged-wellcome">
                                  <div class="logged-wellcome-title">
                                    Welcome @userFirstName
                                  </div>

                                    <div class="logged-wellcome-img">
                                      <span class="img">
                                        <img src="@userImage" alt="" class="@userImageClass" />
                                        <span class="hidden"><em class="icon-cloud-upload"></em>Upload a profile picture. Square is best</span>
                                      </span>
                                      <span class="btn btn-success fileinput-button">
                                        <i class="glyphicon glyphicon-plus"></i>
                                        <!-- The file input field used as target for the file upload widget -->
                                        <input id="fileupload" type="file" name="files[]" />
                                      </span>
                                      <!-- The global progress bar -->
                                      <div id="progress" class="progress">
                                        <div class="progress-bar progress-bar-success"></div>
                                      </div>
                                    </div>
                                    <input id="user-jobtitle" data-dirtyval="@jobtitle" data-initval="Job Title" data-field="jobtitle" type="text" placeholder="Job Title" value="@jobtitle" class="quiet-save text-prefill" />
                                    <input data-dirtyval="@linkedin" data-field="linkedin" id="user-linkedin" type="text" data-initval="LinkedIn URL" placeholder="LinkedIn URL" value="@linkedin" class="quiet-save text-prefill" />

                                  <p>
                                    @{
                        string dateValid = "";
                        DateTime endDate = DateTime.Now;
                        if (!u.UserStatus.Equals(VUIfunctions.VUI_USERTYPE_ADMIN))
                        {
                            Member adm = VUIfunctions.GetVUIAdminForCurrentUser();
                            string adminName = adm.getProperty("fullName").Value.ToString();
                            endDate = (DateTime)adm.getProperty("vuiEndDate").Value;

                                                            @: Your VUI Administrator is @adminName <br/>
                                        }
                        else
                        {
                            if (u.Member.getProperty("vuiEndDate").Value != null)
                            {
                                endDate = (DateTime)u.Member.getProperty("vuiEndDate").Value;
                            }
                                                @: You are the Administrator for your organisation <br/>
                                        }
                        dateValid = endDate.ToString("dd MMM yyyy");
                                        @: Your account is active until @dateValid
                                    }
                                  </p>
                                  <!-- <a>Tell a friend about the VUI Library</a> -->
                                </div>
                    *@
                </div>
            </div>
        </div>


        <div class="main-content">
            <div class="inner-title"><h2 class="title">Today in the VUI Library</h2></div>

            <div class="b-logged-stats">
                <div class="inner">
                    @StatsBar()
                </div>
            </div>
        </div>




        @{

            VUI3ServiceSnapshotList favouriteServices = u.FavouriteServiceSnapshots;
            int counter = 0;


            <div class="b-logged-service">
                <div class="inner">
                    <h2 class="title">
                        @Model.loggedInTitleFavouriteServices
                    </h2>
                </div>
                <div class="b-tabs">
                    <ul class="tabs">
                        @foreach (VUI3ServiceSnapshot snap in favouriteServices.results)
                        {
                            if (snap != null)
                            {
                                string activeclass = (++counter == 1) ? "active" : "";
                                <li class="@activeclass" data-id="@snap.id">
                                    <a href="#">@snap.serviceName</a>
                                </li>
                            }
                        }
                        <li class="choose">
                            <a href="#">Choose VOD Services<span class="icon-retweet"></span></a>
                        </li>
                    </ul>
                    <div class="panes">

                        @foreach (VUI3ServiceSnapshot snap in favouriteServices.results)
                        {
                            if (snap != null)
                            {
                                DateTime snapshotDate = snap.snapshotDate;
                                string snapshotTaken = String.Empty;
                                if (snapshotDate.ToString("yyyyMMdd").Equals(DateTime.Today.ToString("yyyyMMdd")))
                                {
                                    snapshotTaken = "today";
                                }
                                else if (snapshotDate.ToString("yyyyMMdd").Equals(DateTime.Today.AddDays(-1).ToString("yyyyMMdd")))
                                {
                                    snapshotTaken = "yesterday";
                                }
                                else
                                {
                                    snapshotTaken = snapshotDate.ToString("dd MMM yyyy");
                                }

                                <div class="pane" data-id="@snap.id">
                                    <div class="inner">
                                        <a href="@snap.Url">
                                            <ul>
                                                @if (@snap.HasScreenshots())
                                                {
                                                    <li>
                                                        <div class="counter">
                                                            @snap.numScreenshots<span class="icon-camera"></span>
                                                        </div>
                                                        <div class="text">
                                                            Screenshots from <br> @snap.numScreenshotDevices different devices
                                                        </div>
                                                    </li>
                                                }
                                                @if (@snap.HasBenchmarks())
                                                {
                                                    <li>
                                                        <div class="counter">
                                                            @snap.benchmarkAverage<i>/25 </i><span class="icon-bar-chart"></span>
                                                        </div>
                                                        <div class="text">
                                                            Average benchmark score <br> across all devices
                                                        </div>
                                                    </li>
                                                }
                                                @if (@snap.HasRatings())
                                                {
                                                    <li>
                                                        <div class="counter">
                                                            @snap.ratingAverage<i>/5</i><span class="icon-star-empty"></span>
                                                        </div>
                                                        <div class="text">
                                                            Average App Store Rating from<br> Apple / Google Play
                                                        </div>
                                                    </li>
                                                }
                                                @if (@snap.HasTwitter())
                                                {
                                                    <li>
                                                        <div class="counter">
                                                            @snap.twitterFollowers.ToString("#,#") <span class="icon-twitter"></span>
                                                        </div>
                                                        <div class="text">
                                                            Twitter Followers<br> (as of @snapshotTaken)
                                                        </div>
                                                        <div class="rate">
                                                            @* <span class="icon-sort-up"></span>since 26 July *@
                                                        </div>
                                                    </li>
                                                }
                                                @if (@snap.HasFacebook())
                                                {
                                                    <li>
                                                        <div class="counter">
                                                            @snap.facebookLikes.ToString("#,#") <span class="icon-thumbs-up-alt"></span>
                                                        </div>
                                                        <div class="text">
                                                            Facebook likes <br> (as of @snapshotTaken)
                                                        </div>
                                                        <div class="rate">
                                                            @* <span class="icon-sort-up"></span>since 26 July *@
                                                        </div>
                                                    </li>
                                                }
                                                @if (@snap.HasYoutube())
                                                {
                                                    <li>
                                                        <div class="counter">
                                                            @snap.ytSubscriberCount.ToString("#,#") <span class="icon-youtube"></span>
                                                        </div>
                                                        <div class="text">
                                                            Subscribers on<br> YouTube (as of @snapshotTaken)
                                                        </div>
                                                        <div class="rate">
                                                            @* <span class="icon-sort-down"></span>since 26 July *@
                                                        </div>
                                                    </li>
                                                }
                                            </ul>
                                        </a>
                                    </div>
                                </div>
                            }
                        }
                        <div class="pane favs">
                            <div class="inner">
                                <div class="col first">
                                    <h2>Your favourite VOD services</h2>
                                    <p>Select up to five services to track on your home page.</p>
                                    <select id="select-favourite-service">
                                        @{
                                            VUI3SimpleServiceMasterCollection services = VUI3Utility.AllServicesSimple();
                                            foreach (VUI3SimpleServiceMaster service in services.ServiceMasters)
                                            {
                                                <option value="@service.Id" data-url="@service.URL">@service.ServiceName</option>
                                            }
                                        }
                                    </select>
                                    <a href="#" class="add-favourite-service"><span class="icon-plus-sign"></span></a>
                                </div>

                                <div class="col">
                                    <ul class="favourite-services">
                                        @foreach (VUI3ServiceSnapshot snap in favouriteServices.results)
                                        {
                                            if (snap != null)
                                            {
                                                <li><a href="#" data-id="@snap.id"><span class="icon-minus-sign"></span></a> @snap.serviceName</li>
                                            }
                                        }
                                    </ul>

                                </div>

                                <div class="col last">

                                    You can also add a favourite on a service home page by clicking the <span class="icon-plus-sign"></span> next to the service name

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }


        @{
            <div class="b-logged-screenshots">
                <div class="inner">
                    <h2 class="title">
                        @Model.loggedInTitleScreenshots
                    </h2>
                </div>
                <div class="pane">
                    <div class="inner">
                        <div class="screenshots-carousel">
                            <div class="shadow-left"></div>
                            <div class="shadow-right"></div>

                            @{
                                List<VUI3Screenshot> favs = u.FavouriteImages.AllFavouriteImages();
                                if (favs.Count > 0)
                                {
                                    <div class="carousel">
                                        <ul>
                                            @foreach (VUI3Screenshot scrn in favs)
                                            {
                                                <li>
                                                    <a href="#"><span class="player">@scrn.ServiceName</span><span class="name">@scrn.PageType</span><span class="device">@scrn.Device</span><span class="date">@scrn.ImportTag</span><span class="img"><img src="@scrn.ImageURL_th" /></span></a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                }

                                <div class="favourite-images-message">
                                    Save your favourite images by clicking the <span class="icon-paper-clip"></span> next to any screenshot in the lightbox. <br /><a href="/vui3/screenshots">Jump straight to screenshots</a>.
                                </div>

                            }
                        </div>
                    </div>
                </div>
            </div>
        }

        @*
            if (@Model.loggedInInfo.GetType() != typeof(umbraco.MacroEngines.DynamicNull) && !String.IsNullOrEmpty(@Model.loggedInInfo.ToString()))
            {
                <div class="help">
                <div class="inner">
                    <h2 class="title">
                    Help
                    </h2>
                    @Model.loggedInInfo
                </div>
                </div>
            }
        *@
    </div>
                                }
}